Flask==3.0.3
gunicorn==21.2.0
langchain==0.1.20
langchain-openai==0.1.7
langchain-pinecone==0.2.13
langchain-community==0.0.38
pinecone-client==5.0.1
python-dotenv==1.0.1
sentence-transformers==2.7.0
torch==2.3.0